{include file='header.tpl'}
        <h2>{t}Welcome{/t}</h2>
        <p>{t}You'll rederict to search page&hellip;{/t}</p>
        <meta http-equiv="refresh" content="0; url=index.php?q=search">
{include file='footer.tpl'}
